.image-vision {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.header h1{
    color: blue;
    text-decoration: underline;
    text-align: center;
}
.header p {
    color: black;
    text-align: center;

}
.header2 {
    color: blue;
    text-decoration: underline;
}
body {
    background-image: url("../img/simple-background.jpg");
    background-position: center;
    background-size: auto;
    font-family: Tahoma, Arial, Verdana;
}
ul {
    list-style: square;
}
.tbproducts {
    font-family: "Bodoni 72";
    padding: 10px;
}
.bottom:hover {
    color: darkred;
}

